.main {
  display: flex;
  width: 100%;
  /* background-image: url('../../../public/images/19.jpg'); */
  /* background-image: url('${bgImage}'); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: row;
  /* padding-top: 90px; */
}
.works {
  padding: 10px 12px 12px;
  width: 120px;
  border-radius: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  text-align: center;
  background: rgba(255, 255, 255, 0.86);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.works .reportText {
  font-size: 12px;
  font-weight: bold;
  max-height: 40px;
}
.works .reportNumber {
  font-family: 'shabnamFD';
  font-size: 17px;
  font-weight: bold;
  max-height: 40px;
  margin-top: 20px;
}
.works .reportIcon {
margin-bottom: 20px;
border-radius: 50%;
background-color: rgba(15, 157, 88, 0.11);
padding: 5px;
}

.profile {
  border-radius: 8px;
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.23);
}
