.main {
  /* display: flex; */
  /* width: 100%; */
  /* background-image: url('../../../public/images/19.jpg'); */
  /* background-image: url('${bgImage}'); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* overflow-y: scroll; */
  flex-direction: row;
  /* padding-top: 90px; */
}
.works {
  padding: 10px 12px 12px;
  width: 120px;
  border-radius: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  text-align: center;
  background: rgba(255, 255, 255, 0.86);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.works .reportText {
  font-size: 12px;
  font-weight: bold;
  max-height: 40px;
}
.works .reportNumber {
  font-family: "shabnamFD";
  font-size: 17px;
  font-weight: bold;
  max-height: 40px;
  margin-top: 20px;
}
.works .reportIcon {
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: rgba(15, 157, 88, 0.11);
  padding: 5px;
}

.profile {
  border-radius: 8px;
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.23);
}
.queswrapper {
  max-height: 350px;
  border-radius: 8px;
  background: #fff;
  opacity: 0.9;
  /* overflow-y:scroll ; */
}
.quesheader {
  background-color: #58b25e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: center;
}
.quesheaderTitle {
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.quesfilter {
  background-color: #58b25e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  /* text-align: left; */
  font-weight: bold;
}
.radiofilter {
  font-size: 12px;
}
.queRow {
  border-bottom: solid 1px #ddd;
  font-size: 13px;
  font-weight: 400;
  /* cursor: pointer; */
  /* background-color: #dfe4ea; */
}
.queRow:hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.nTimeSpan {
  font-family: shabnamFD;
  font-size: 14px;
  font-weight: 400;
}
.queScrollWrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.queScrollWrapper::-webkit-scrollbar {
  display: none;
}
.moreQues {
  text-align: left;
  border-top: solid 1px #ddd;
}
/* .seal{
  position: absolute;
  top: 50%;
  right:20%;
  width: 30%;
  height: 20%;
  z-index: 100;
} */