@font-face {
  font-family: "shabnam";
  src: url("../../public/fonts/Shabnam.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "shabnam";
  src: url("../../public/fonts/Shabnam-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "shabnam";
  src: url("../../public/fonts/Shabnam-Thin.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "shabnam";
  src: url("../../public/fonts/Shabnam-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "shabnam";
  src: url("../../public/fonts/Shabnam-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "shabnamFD";
  src: url("../../public/fonts/Farsi-Digits/Shabnam-FD.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "shabnamFD";
  src: url("../../public/fonts/Farsi-Digits//Shabnam-Bold-FD.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "shabnamFD";
  src: url("../../public/fonts/Farsi-Digits/Shabnam-Thin-FD.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "shabnamFD";
  src: url("../../public/fonts/Farsi-Digits/Shabnam-Light-FD.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "shabnamFD";
  src: url("../../public/fonts/Farsi-Digits/Shabnam-Medium-FD.ttf");
  font-weight: 500;
}
body {
  font-family: "shabnam";
  height: 100vh;
  overflow-y: hidden;
 }
.nav-bg {
  background-color: #db4c3f;
}
.f15 {
  font-size: 25px;
}
.pointer {
  cursor: pointer;
}

.blue {
  color: #4287f4;
}
.orange {
  color: #ff8561;
}
.green {
  color: #0f9d58;
}

.custom-calendar.rmdp-wrapper,
.rmdp-container .custom-calendar.ep-arrow::after {
  background-color: rgb(178, 209, 196);
  width: 600px;
}

.rmdp-container .custom-calendar.ep-arrow[direction="bottom"] {
  border-top: 1px solid bisque;
}

.rmdp-container .custom-calendar.ep-arrow[direction="top"] {
  border-bottom: 1px solid bisque;
}

.calendar-wrapper {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-day {
  width: calc(100% / 7);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}