.body{
  background-image: url('../../../public/images/login-background.jpg');
  background-size: cover;
}
.loginBox {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: solid 1px #ccc;
  background-color: #fff;
}
.loginHeader {
  font-weight: bold;
  background-color: #f2f2f2;
  color: #343333;
  font-size: 18px;
}
.cellphoneInputWrapper {
  position: relative;
}
.cellphoneInputWrapper::after {
  position: absolute;
  left: 0;
  bottom: -80%;
  content: "09123456789";
  color: #a7a7a7;
  font-size: 12px;
}
.cellphoneInputWrapper::before {
  position: absolute;
  content: " شماره همراه خود را وارد نمایید";
  color: red;
  font-size: 13px;
  right:7%;
  bottom: 10%;
  transition: bottom 0.5s, font-size 0.5s;
}
.cellphoneInput {
  border: none;
  border-bottom: solid 1px red;
  text-align: left;
}
.cellphoneInput:focus {
  outline: none;
  border-bottom: solid 2px red;
}
.cellphoneInputWrapper:focus-within::before {
  position: absolute;
  content: " شماره همراه خود را وارد نمایید";
  color: blue;
  right: 7%;
  bottom: 100%;
  font-size: 12px;
  transition: bottom 0.5s, font-size 0.5s;
}
.passwordInputWrapper {
  position: relative;
}
.passwordInputWrapper::before {
  position: absolute;
  content: " رمز عبور  ";
  color: red;
  font-size: 13px;
  right: 7%;
  bottom: 10%;
  transition: bottom 0.5s, font-size 0.5s;
}
.passwordInputWrapper:focus-within::before {
  position: absolute;
  content: " رمز عبور  ";
  color: blue;
  right: 7%;
  bottom: 100%;
  font-size: 12px;
  transition: bottom 0.5s, font-size 0.5s;
}
.passwordInputWrapperfilled {
  position: relative;
}
.passwordInputWrapperfilled::before {
  position: absolute;
  content: " رمز عبور  ";
  color: blue;
  right: 7%;
  bottom: 100%;
  font-size: 12px;
  transition: bottom 0.5s, font-size 0.5s;
}
.cellphoneInputWrapperfilled {
  position: relative;
}
.cellphoneInputWrapperfilled::before {
  position: absolute;
  content: " شماره همراه خود را وارد نمایید  ";
  color: blue;
  right: 5%;
  bottom: 100%;
  font-size: 12px;
  transition: bottom 0.5s, font-size 0.5s;
}
.loginIcon {
  position: absolute;
  top: 20%;
  right: 0%;
}
